body
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    background-image: url('/assets/svg/shape.svg')
    background-position: top right
    background-repeat: no-repeat
    text-rendering: optimizelegibility

::selection
    background: rgba($primary, .7)
    color: $white
    text-shadow: none

::-moz-selection
    background: rgba($primary, .7)
    color: $white
    text-shadow: none

img
    &::selection
        background: transparent
    &::-moz-selection
        background: transparent

*:focus-visible
    outline-color: gray
    outline-offset: 5px
    outline-style: dashed
    outline-width: 1px

@media (prefers-reduced-motion: no-preference)
    *:focus-visible
        transition: outline-offset .3s ease

.navbar-brand
    img
        margin-top: 5px

main
    min-height: 80vh

.modal-dialog
    .btn-close
        position: absolute
        top: 40px
        right: 40px
        z-index: 100
        @include media-breakpoint-down(lg)
            top: 10px
            right: 10px
