---
layout: default
---

<div class="row mb-md-5">
  <div class="col-md-8">
    <h1 class="mb-0">{{ page.title }}</h1>
    <p class="mb-5"></p>
  </div>
</div>

{% include breadcrumb.html %}

<div class="row mb-5">
  <div class="col-md-8">
    <section class="mb-5">
      <p>{{ page.abstract }}</p>
    </section>
    <section class="mb-5">
      <h2>Authors</h2>
      <div class="row">
        {% for author_id in page.authors %}
        {%- assign author = site.researchers | where:"slug", author_id | first -%}
        <div class="col-md-6 mb-3">
          <p class="mb-0">
            <a href="{{ author.url }}">
              {{ author.first_name }} {{ author.last_name }}
            </a>
          </p>
          <p class="small">{{ author.biography | truncate: 300 }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
    <section class="mb-5" id="full-text">
      <h2>Full text</h2>
      {{ content }}
    </section>
    {% if page.references != "" %}
    <section class="mb-5">
      <h2>References</h2>
      <p>
        {{ page.references | newline_to_br }}
      </p>
    </section>
    {% endif %}
  </div>
  <div class="col-md-3 offset-md-1">
    <dl>
      <dd>
        {%- if page.pdf -%}
        <a href="{{page.pdf}}" target="_blank" class="btn btn--download btn-secondary mb-1" download>Download PDF</a><br>
        {%- endif -%}
        <a href="#full-text" class="btn btn--eye btn-secondary">Read online</a>
      </dd>

      {%- if page.type -%}
      <dt>Nature</dt>
      <dd>{{page.type}}</dd>
      {%- endif -%}

      {%- if page.keywords -%}
      <dt>Mot-clés</dt>
      <dd>{{ page.keywords }}</dd>
      {%- endif -%}

      {%- if page.lang -%}
      <dt>Langue</dt>
      <dd>{{page.lang}}</dd>
      {%- endif -%}

      {%- if page.publication -%}
      <dt>Date</dt>
      <dd>{{page.publication | date: "%d/%m/%Y"}}</dd>
      {%- endif -%}
    </dl>
  </div>
</div>
