---
layout: default
---
<div class="row mb-md-5">
    <div class="col-md-8">
      <h1 class="mb-0">{{ page.title }}</h1>
      <p class="mb-5"></p>
    </div>
</div>

{% include breadcrumb.html %}

<div class="row">
    <div class="col-md-4">
        <p>{{ page.biography }}</p>
    </div>
    <div class="offset-md-1 col-md-7">
        {% for current_article in site.articles %}
            {% assign volume = site.volumes | where: "slug", current_article.volume | first %}
            {% for author in current_article.authors %}
                {% if author == page.slug %}
                    <article class="mb-5">
                        <h2><a href="{{ current_article.url }}">{{current_article.title }}</a></h2>
                        <p>In “<a href="{{ volume.url }}">{{ volume.title }}</a>”</p>
                    </article>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
