<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML Meta Tags -->
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | markdownify | strip_html }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}" />
    <meta property="og:description" content="{{ page.description | markdownify | strip_html }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/share.png">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description | markdownify | strip_html }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/share.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <!-- Preload -->
    <link rel="preload" href="/assets/css/main.css" as="style">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="{{ page.path | remove: '.html' | remove: '_' | replace: '/', '__' }}">
    {% include header.html %}
    <main class="main container" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include cookie-banner.html %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>  </body>
</html>
